<h1>Painel


  <div *ngIf="dadosDaAPIRetirada.length > 0 && dadosDaAPIDeposito.length > 0 ">
    <h1>Você recebeu: {{ totalValueDeposito }} esse mês e gastou {{ totalValueRetirada | number: '1.2-2'}}, do dinheiro recebido você tem: {{ totalValueDeposito - totalValueRetirada | number: '1.2-2' }}</h1>
  </div>
  <div *ngIf="dadosDaAPIDeposito.length > 0">
    <ul>
      <li *ngFor="let dado of dadosDaAPIDeposito">
        <strong>Data de recebimento:</strong> {{ dado.createat }}, 
        <strong>Mês:</strong> {{ dado.month }}, 
        <strong>Descrição do recebimento:</strong> {{ dado.description }}, 
        <strong>Valor:</strong> {{ dado.value }}, 
      </li>
    </ul>
</div>



<div *ngIf="dadosDaAPIRetirada.length > 0">   
  <ul>
    <li *ngFor="let dado of dadosDaAPIRetirada">
      <strong>Data do gasto:</strong> {{ dado.createat }}, 
      <strong>Mês:</strong> {{ dado.month }}, 
      <strong>Descrição do gasto:</strong> {{ dado.description }}, 
      <strong>Valor:</strong> {{ dado.value }}, 
    </li>
  </ul>
</div>


</h1>